/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: rgb(136, 203, 171);
  /* background: linear-gradient(
    0deg,
    rgb(107, 33, 190) 0%,
    rgb(221, 25, 74) 100%
  ); */
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #fff;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

h2 {
  border-bottom: 3px solid rgba(255, 255, 255, 0.541);
  padding-bottom: 8px;
  font-family: 'Oxygen', Sans-Serif;
  font-size: 3em;
  color: #fff;
}

p {
  line-height: 1.8em;
  letter-spacing: 3px;
  font-size: 18px;
  color: #eee;
}

/* ---- Layout Rules ---- */
main {
  margin: 10vh 1em 10vh;
}

.container {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 520px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 769px) {
  .container {
    width: 80%;
    max-width: 960px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 80vh;
}

.hero__content {
  opacity: 1;
}

.hero__title {
  font-size: 56px;
  letter-spacing: 3px;
  margin: 0;
}

.hero__subtitle {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.664);
  border-bottom: none;
}

.hero__button {
  border: none;
  background: rgb(15, 207, 221);
  padding: 12px 16px;
  border-radius: 50px;
  font-family: 'Oxygen', Sans-Serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 3px 3px 0px 0px rgb(0, 0, 0);
  position: relative;
  top: 0;
  left: 0;
  z-index: 999 !important;
}

.hero__button:active {
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
  position: relative;
  top: 3px;
  left: 3px;
  transition-duration: 0.1s;
}

section {
  position: relative;
  min-height: 80vh;
  padding-top: 4em;
}

section#section-1 {
  /* margin-top: 4em; */
}

/* Header Styles */
.page__header {
  background: transparent;
  position: fixed;
  height: 68px;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 8px 24px;
  backdrop-filter: blur(8px);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.navbar__title {
  margin: 0;
  font-size: 24px;
  margin-right: auto;
}

.navbar__menu {
  padding-left: 0;
  margin: 0;
  text-align: right;
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.navbar__indicator {
  transition: all 0.22s ease-in-out, left 0.22s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3769470404984424) 0%,
    rgba(255, 255, 255, 0.1448598130841121) 100%
  );
  width: 50px;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 50px;
  z-index: -1;
}

.navbar__item {
  display: block;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
}

.navbar__link {
  font-weight: 800;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  color: white;
  text-decoration: none;
}

/* Footer Styles */
.page__footer {
  background: rgba(255, 255, 255, 0.295);
  height: 100px;
  position: relative;
  z-index: 1;
  padding: 0px 18px;
  display: flex;
  align-items: center;
}

.page__footer h2 {
  margin: 0;
  border: none;
  padding: 0;
  font-size: 18px;
}

.page__footer::after {
  background: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(10px);
  color: #fff;
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: -1;
}

.page__footer p {
  color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.section__content {
  padding: 0;
  margin: 0;
}

section:nth-of-type(even) {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}
